.container{
    display: flex;
    flex-direction: column;
}
.contenido{
    color: #fff;
    font-size: 35px;
    padding: 10px;
    display: block;
}
.closeSession{
    display: block;
    padding: 15px;
    color: #fff;
}