@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
}
.containerLogin{
    width: 960px;
    height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #fff;
    border-radius: 10px;
    padding: 60px 100px 35px 95px;
    margin: 15px;
    
}
.loginImage{
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.loginContenedor{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loginForm{
  width: 80%;
}
.formLabel{
  display: block;
  padding: 0 0 10px 0;
  color: #4158d0;
  font-weight: 400;
  letter-spacing: 1px;
}
.formImput{
  border-radius: 50px;
  height: 40px;
}
.formButton{
    height: 45px;
    width: 100%;
    background: #c850c0;
    color: #fff;
    border: none;
    border-radius: 5px;
    border-radius: 20px;
    margin-top: 10px;
}
.formButton:hover{
  background:#fff;
  color: #c850c0;
  border:2px #c850c0 solid;
  transition: all 1s ease;
}
.icon{
    position: absolute;
    right: 25px;
    z-index: 1;
    top: 40px;
    font-size: 20px;
   /* color: #4158d0;
    color: #c850c0;
    */
    color: #650AF7; 
    font-weight: 700;
}
.subtitleContenedor{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
.textRegister{
  color: #7E42D4;
  cursor: pointer;
}
.iconRegister{
  margin-left: 10px;
}
.iconLogin{
  margin-right: 10px;
}
.containerImput{
  position: relative;
}